.users-grid
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
@media (max-width: 1500px)
{
    .users-grid
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media ( max-width: 1000px )
{
    .users-grid
    {
        display: grid;
        grid-template-columns: 100%;
    }
    .user-box
    {
        max-width: 400px;
    }
}
.user-box
{
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: #0f172a;
    border: 1px solid;
}
.user-box *
{
    margin: 5px;
}
/* Container select */
select
{
    width: 50%;
    padding: 10px 14px;
    border: 1px solid #d0d7de;
    border-radius: 10px;
    background-color: #ffffff;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
}

/* Hover */
select:hover
{
    border-color: #4f8cff;
}

/* Focus */
select:focus
{
    border-color: #4f8cff;
    box-shadow:
        0 0 0 3px rgba(79, 140, 255, 0.15);
}

/* Disabled */
select:disabled
{
    background-color: #f3f4f6;
    color: #777;
    cursor: not-allowed;
    opacity: 0.85;
}

/* Option */
select option
{
    font-size: 14px;
}
.ruolo
{
    margin: auto;
    display: flex;
    justify-content: start;
}
.delete
{
    margin: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #d0d7de;
    border-radius: 10px;
    background-color: #ffffff;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}
.delete:hover
{
    background-color: #bebebe;
}
.delete:disabled
{
    cursor: not-allowed;
}